* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f4f4;
}

nav {
    background-color: #007bffbd;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #222;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    color: rgb(1, 134, 134);
}

.section-about {
    background-image: url(../image/care.jpg);
    background-size: cover;
    padding: 50px 20px;
    text-align: center;
}

.section-about h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.section-about p {
    max-width: 700px;
    margin: auto;
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: 700;
    color: green;
}

.section-service {
    background-color: #e9f7ef;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 50px;

}

.service h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 25px;
}

.service {
    padding-top: 5vh;
}

.service-box {
    background-color: #e9f7ef;
    font-size: 18px;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: center;
    transition: 0.3s;
}

.service-box img {
    width: 150px;
    height: 100px;
    border-radius: 13px;
    margin-bottom: 15px;
    overflow: hidden;
    margin-top: 0;
}

.service-box:hover {
    background-color: #d1f2ed;
    transform: translateY(-3px);
}

.arrow {
    color: #007bff;
    font-weight: bold;
    font-size: 20px;
    display: flex;
}

footer {
    background: #0f172a;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 1rem;
    color: #777;
    box-shadow: 0-2px 4px rgba(0, 0, 0, 0.5);
    color: #f1f5f9;
}

footer h4 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: #38bdf8;
}

@media(max-width: 768) {
    body {
        flex-direction: column;
        width: 90%;
        gap: 20px;
        padding: 20px;
    }

    img {
        width: 100%;
        height: auto;
    }
}